body {
  padding: 0;
  margin: 0;
  background-blend-mode: multiply;
  /* background: -moz-linear-gradient(top, rgba(13,54,35,1) 0%, rgba(0,117,62,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(13,54,35,1)), color-stop(100%, rgba(0,117,62,1)));
  background: -webkit-linear-gradient(top, rgba(13,54,35,1) 0%, rgba(0,117,62,1) 100%);
  background: -o-linear-gradient(top, rgba(13,54,35,1) 0%, rgba(0,117,62,1) 100%);
  background: -ms-linear-gradient(top, rgba(13,54,35,1) 0%, rgba(0,117,62,1) 100%);
  background: linear-gradient(to bottom, rgba(13,54,35,1) 0%, rgba(0,117,62,1) 100%); */
  background: rgba(0, 0, 0, 0.3);
  background-image: url(../img/main-bk.jpg);
  background-repeat: no-repeat;
  background-position: top;
}
.footnote {
  font-family: 'Gotham Pro Black';
  background: linear-gradient(to top right, #E0AC5F 0%, #FEE3B3 50%, #E0AC5F 100%);
  font-size: 10px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 40px auto;
}
.text-title {
  font-family: 'Gotham Pro Regular';
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  display: block;
}
#btnProd {
  color: #fff;
}
.phone {
  font-size: 18px;
    color: #FFF;
    font-family: 'Gotham Pro Regular';
    text-decoration: dotted;
    text-shadow: 0 0 10px #000;
    margin-right: 10px;
}
.block {
  position: relative;
}
.gold {
  display: block;
  font-family: 'Gotham Pro Black';
  font-size: 30px;
  background: linear-gradient(to top right, #E0AC5F 0%, #FEE3B3 50%, #E0AC5F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* nav */
  .navigation {
    padding: 35px 0;
  }
  .navigation-logo>img {
    width: 185px;
  }
  .navigation-menu>ul {
    display: flex;
  }
  .navigation-menu>ul>li {
    list-style: none;
    padding: 0 10px;
  }

  .navigation-menu>ul>li>a {
    color: #fff;
    font-family: 'Gotham Pro Regular';
    text-decoration: dotted;
    text-shadow:0 0 10px #000;
    transition: 0.2s;

  }
  .navigation-menu>ul>li>a:hover {
    -moz-text-shadow:0 0 20px #29ff98;
    -webkit-text-shadow:0 0 20px #29ff98;
     text-shadow:0 0 20px #29ff98;
     color: #29ff98;
  }
/* nav */

/* main */
.main {
  position: relative;
  height: 470px;
  color: #fff;
}
.figure1 {
  display: none;
  position: absolute;
  max-width: 660px;
  max-width: 660px;
  width: 100%;
  max-height: 400px;
  height: 100%;
  background: url(../img/form1.png) center no-repeat;
  background-size: cover;
  z-index: -1;
  top: -62px;
  left: -119px;
}
.main-left-block {
  position: absolute;
  left: -100px;
}
.main-left-block>img {
  height: 510px;
  z-index: 10;
}
.danon {
  position: absolute;
  height: 150px!important;
  bottom: 22px;
  left: 162px;
}
.main-center-block {
  width: 500px;
  margin: 0 auto;
}
.main-center-block__img {
  text-align: center;
}
.main-center-block__img>img {
  height: 200px;
}
.main-center-block__text {
  text-align: center;
  font-size: 24px;
  margin-bottom: 43px;
}
.main-right-block__text{
  text-align: right;
  font-size: 24px;
  margin-bottom: 43px;
  margin-right: 45px;
}
.main-right-block {
  max-width: 410px;
  width: 100%;
  position: absolute;
  transform: rotate(-5deg);
  top: 0;
  right: -40px;
}
.main-right-block::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 41px;
  background: url(../img/line.png) center no-repeat;
  background-size: 211px;
  transform: rotate(3deg);
  top: 27px;
  background-position-x: 176px;
}
.main-center-block__prize {
  margin: 16px 0;
  padding-left: 30px;
}
.main-center-block__prize__1{

  padding-left: 105px;
}
.main-center-block__prize__2{
  padding-left: 70px;
}
.main-center-block__prize>img {
  cursor: pointer;
  width: 100px;
  border-radius: 100%;
}
.main-center-block__prize__text {
  font-size: 15px;
}
/* main */

/* participation */
.participation {
  padding: 50px 0;
  background: url(../img/bg-user.png) center no-repeat;
  background-position-y: 0;
  color: #fff;
  padding-top: 120px;
}
.participation-title {
  margin: 60px 0;
  text-align: center;
}
.participation-block {
  text-align:  center;
}
.participation-block__img>img {
  width: 160px;
}
.participation-block__text {
  font-family: 'Gotham Pro Regular';
  width: 200px;
  margin: 20px auto;
  text-transform: uppercase;
}
/* participation */
/* exchange */
.exchange {
  /* background: rgba(10,66,39,1);
  background: -moz-linear-gradient(top, rgba(10,66,39,1) 0%, rgba(0,117,63,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,66,39,1)), color-stop(100%, rgba(0,117,63,1)));
  background: -webkit-linear-gradient(top, rgba(10,66,39,1) 0%, rgba(0,117,63,1) 100%);
  background: -o-linear-gradient(top, rgba(10,66,39,1) 0%, rgba(0,117,63,1) 100%);
  background: -ms-linear-gradient(top, rgba(10,66,39,1) 0%, rgba(0,117,63,1) 100%);
  background: linear-gradient(to bottom, rgba(10,66,39,1) 0%, rgba(0,117,63,1) 100%); */
  background-blend-mode: multiply;
  background: rgba(0, 0, 0, 0.3);
  background-image: url(../img/main-bk.jpg);
  background-repeat: no-repeat;
  background-position: top;
  padding: 5rem 0;
  color: #fff;
}
.exchange-title {
  margin-bottom: 5rem;
}
.exchange-table {
  margin: 0 auto;
  border: 2px solid rgba(41, 255, 152);
  /* background-color: rgba(41, 255, 152, 0.3); */
  /* -webkit-box-shadow: 0px 0px 75px 7px rgba(41,255,152,1);
  -moz-box-shadow: 0px 0px 75px 7px rgba(41,255,152,1);
  box-shadow: 0px 0px 75px 7px rgba(41,255,152,1); */
}
.exchange-table>tbody>tr>td {
  padding: 20px;
}
/* exchange */
/* questions */
.questions {
  padding: 3rem 0;
  background-color: #fff;
}
.questions-title {
  margin-bottom: 3rem;
}
.btn-link {
  color:#00753F!important;
}
.card-header {
  background-color: #fff!important;
  border-bottom: 0!important;
  padding: .175rem 1.25rem!important;
}
.card-body {
  padding: 10px 50px!important;
}
.exchange-table__question>tbody>tr>td {
  padding: 5px;
}
/* questions */
/* footer */
.footer {
  background: rgba(13,54,35,1);
  background: -moz-linear-gradient(top, rgba(13,54,35,1) 0%, rgba(0,117,62,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(13,54,35,1)), color-stop(100%, rgba(0,117,62,1)));
  background: -webkit-linear-gradient(top, rgba(13,54,35,1) 0%, rgba(0,117,62,1) 100%);
  background: -o-linear-gradient(top, rgba(13,54,35,1) 0%, rgba(0,117,62,1) 100%);
  background: -ms-linear-gradient(top, rgba(13,54,35,1) 0%, rgba(0,117,62,1) 100%);
  background: linear-gradient(to bottom, rgba(13,54,35,1) 0%, rgba(0,117,62,1) 100%);
  padding: 30px 0;
}
.footer-regulations__link {
  text-align: center;
}
.footer-regulations__link>a {
  font-size: 18px;
  color: #29ff98;
  font-family: 'Gotham Pro Regular';
  text-decoration: dotted;
  border-bottom: 4px dotted #29ff98;
  text-shadow:0 0 10px #000;
  transition: 0.2s;
}
.footer-regulations__link>a:hover {
  -moz-text-shadow:0 0 40px #fff;
  -webkit-text-shadow:0 0 40px #fff;
   text-shadow:0 0 40px #fff;
   color: #fff;
   border-bottom: 4px dotted #fff;
}
.footer-regulations__link__phone {
  margin-top: 20px;
}
/* footer */
.positionAbsolute {
  position: absolute;
  width: 300px!important;
  height: 300px;
  background-color: white;
  top: 30%;
  right: 20%;
}
